.heading {
  text-align: center;
  font-family: 'Jost';
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
  font-family: 'Jost';
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
}
